{% extends 'base.html.twig' %}

{% block title %}Create Team{% endblock %}

{% block page_title %}Create Team{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/team-management.css') }}">
{% endblock %}

{% block body %}
    <div class="team-create">
        <div class="create-header">
            <h1>Create New Team</h1>
            <p>Set up a new team to collaborate with your colleagues</p>
        </div>

        <div class="create-form">
            {{ form_start(form, {'attr': {'class': 'team-form'}}) }}
            
            <div class="form-section">
                <h3>Team Information</h3>
                
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.color) }}
                    {{ form_widget(form.color) }}
                    {{ form_errors(form.color) }}
                    <small class="form-text">Choose a color to identify your team</small>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                    </svg>
                    Create Team
                </button>
                <a href="{{ path('app_teams') }}" class="btn btn-secondary">
                    <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                    </svg>
                    Cancel
                </a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
