{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block page_title %}Change Password{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/user-profile.css') }}">
{% endblock %}

{% block body %}
    <div class="user-profile-edit">
        <div class="profile-edit-header">
            <h1>Change Password</h1>
            <p>Update your account password for better security</p>
        </div>

        <div class="profile-edit-form">
            {{ form_start(form, {'attr': {'class': 'profile-form'}}) }}
            
            <div class="form-section">
                <h3>Password Change</h3>
                
                <div class="form-group">
                    {{ form_label(form.currentPassword) }}
                    {{ form_widget(form.currentPassword) }}
                    {{ form_errors(form.currentPassword) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.newPassword.first) }}
                    {{ form_widget(form.newPassword.first) }}
                    {{ form_errors(form.newPassword.first) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.newPassword.second) }}
                    {{ form_widget(form.newPassword.second) }}
                    {{ form_errors(form.newPassword.second) }}
                </div>
            </div>

            <div class="form-section">
                <div class="password-requirements">
                    <h4>Password Requirements:</h4>
                    <ul>
                        <li>At least 6 characters long</li>
                        <li>Use a combination of letters, numbers, and symbols</li>
                        <li>Avoid using personal information</li>
                        <li>Don't reuse passwords from other accounts</li>
                    </ul>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
                    </svg>
                    Change Password
                </button>
                <a href="{{ path('app_user_profile') }}" class="btn btn-secondary">
                    <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                    </svg>
                    Cancel
                </a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
