<!-- Sidebar -->
<aside class="sidebar">
    <div class="sidebar-header">
        <a href="{{ path('app_dashboard') }}" class="sidebar-brand">
            🔄 Retro App
        </a>
    </div>
    
    <nav class="sidebar-nav">
        {% if app.request.get('_route') == 'app_retrospectives_show' %}
            <!-- Connected Users Section for Retrospective Board -->
            <div class="nav-section">
                <div class="nav-section-title">
                    <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3z"></path>
                    </svg>
                    Connected Users
                </div>
                <div id="connectedUsers" class="connected-users">
                    <div class="user-item current-user" data-user-id="{{ app.user.id }}">
                        <div class="user-avatar">
                            {% if app.user.avatar %}
                                <img src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="{{ app.user.firstName }}">
                            {% else %}
                                <div class="avatar-placeholder">{{ app.user.firstName|first|upper }}</div>
                            {% endif %}
                        </div>
                        <div class="user-info">
                            <div class="user-name">{{ app.user.firstName }} {{ app.user.lastName }}</div>
                            <div class="user-status online">You</div>
                        </div>
                    </div>
                    <!-- Other connected users will be added here via JavaScript -->
                    {% for user in connectedUsers %}
                        {% if user.id != app.user.id %}
                            <div class="user-item" data-user-id="{{ user.id }}">
                                <div class="user-avatar">
                                    {% if user.avatar %}
                                        <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.firstName }}">
                                    {% else %}
                                        <div class="avatar-placeholder">{{ user.firstName|first|upper }}</div>
                                    {% endif %}
                                </div>
                                <div class="user-info">
                                    <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
                                    <div class="user-status online">Online</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <!-- Regular Navigation -->
            <div class="nav-item">
                <a href="{{ path('app_dashboard') }}" class="nav-link">
                    <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path>
                    </svg>
                    Dashboard
                </a>
            </div>
            
            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                <div class="nav-item">
                    <a href="{{ path('app_roles') }}" class="nav-link">
                        <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                        </svg>
                        Role Management
                    </a>
                </div>
            {% endif %}
            
            <div class="nav-item">
                <a href="{{ path('app_teams') }}" class="nav-link">
                    <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3z"></path>
                    </svg>
                    Teams
                </a>
            </div>
            
            <div class="nav-item">
                <a href="{{ path('app_retrospectives') }}" class="nav-link">
                    <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z" clip-rule="evenodd"></path>
                    </svg>
                    Retrospectives
                </a>
            </div>
            
            <div class="nav-item">
                <a href="{{ path('app_actions') }}" class="nav-link">
                    <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                    </svg>
                    Actions
                </a>
            </div>
            
            <div class="nav-item">
                <a href="{{ path('app_user_profile') }}" class="nav-link">
                    <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                    </svg>
                    My Profile
                </a>
            </div>
        
        <!-- Future navigation items will be added here -->
        {# 
        <div class="nav-item">
            <a href="#" class="nav-link">
                <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                Teams
            </a>
        </div>
        
        <div class="nav-item">
            <a href="#" class="nav-link">
                <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                    <path fill-rule="evenodd" d="M4 5a2 2 0 012-2v1a1 1 0 001 1h6a1 1 0 001-1V3a2 2 0 012 2v6a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
                </svg>
                Sprints
            </a>
        </div>
        
        <div class="nav-item">
            <a href="#" class="nav-link">
                <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                </svg>
                Retrospectives
            </a>
        </div>
        #}
        
        {% endif %}
        
        <div class="nav-item" style="margin-top: auto; padding-top: 2rem; border-top: 1px solid rgba(255, 255, 255, 0.1);">
            <a href="{{ path('app_logout') }}" class="nav-link">
                <svg class="nav-icon" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path>
                </svg>
                Logout
            </a>
        </div>
    </nav>
</aside>
